@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

/* img {
  display: block;
  width: 100%;
  height: auto;
} */
html {
  font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-image: linear-gradient(#af67e9, #6565e7);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 130px 260px;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 920px;
  height: 100%;
  min-height: 510px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
}
.container div.image {
  width: 43%;
  height: auto;
  max-height: 510px;
  position: relative;
}
.container div.image img {
  display: block;
}
.container div.image img.woman {
  position: absolute;
  left: -80px;
  top: 70px;
  z-index: 1;
  clip: rect(0px, 480px, 510px, 80px);
}
.container div.image img.pattern {
  position: absolute;
  left: -560px;
  top: -289px;
  z-index: 0;
  clip: rect(289px, 1185px, 855px, 559px);
}
.container div.image img.box {
  position: absolute;
  left: -95px;
  top: 200px;
  z-index: 2;
}
.container div.content {
  width: 57%;
  padding: 60px 80px 80px 80px;
}
.container div.content h1 {
  font-family: Kumbh Sans;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1d1e35;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.container div.content .question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.container div.content .question::after {
  display: block;
  content: "";
  background-color: #e7e7e9;
  width: 100%;
  height: 1px;
}
.container div.content .question a.question__title {
  font-family: Kumbh Sans;
  font-size: 1.2rem;
  font-weight: 400;
  color: #1d1e35;
  text-decoration: none;
  padding-top: 20px;
  display: block;
  height: 50px;
  line-height: 12px;
}
.container div.content .question a.question__title--view {
  color: #4a4b5e;
  font-weight: 700;
}
.container div.content .question a.question__title:hover {
  color: #f47c57;
  cursor: pointer;
  transition: all, 300ms;
}
.container div.content .question a.question__title:active {
  color: #4a4b5e;
  font-weight: 700;
}
.container div.content .question a.question__icon {
  padding-top: 15px;
}
.container div.content .question a.question__icon--view {
  transform: rotate(180deg);
}
.container div.content .question__answer {
  display: none;
  font-family: Kumbh Sans;
  font-size: 1.2rem;
  font-weight: 400;
  color: #787887;
  line-height: 17px;
  padding-bottom: 20px;
  position: relative;
}
.container div.content .question__answer--view {
  display: block;
}

/*# sourceMappingURL=style.css.map */
